.tauzin{
  min-width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("http://res.cloudinary.com/dhxff51co/image/upload/q_35/v1492416029/sky_kmay57.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.tauzin1{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tauzin2{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t2{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arimo', sans-serif;
}


.tauzvatar{
  height: 300px;
  width: 300px;
}

.container-home{
  min-width: 100%;
  margin-bottom: 0;
  }


.pillars{
  padding-top:50px;
  padding-bottom: 50px;
  min-width: 100%;
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('http://res.cloudinary.com/dhxff51co/image/upload/q_28/v1492416063/forest_muohzc.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.pillars1{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.pillars2{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pillar{
  position: relative;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 110px;
  color: white;
  border: 1px solid #FF8300;
}

.pillar:hover{
  background-color: rgba(0,0,0,.5);
  border-color: #8FB;
}


.pillars a{
  text-decoration: none;
}

.info{
  min-width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.text-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 250px;
  border: 1px solid #FF8300;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  color: #FF8300;
}
.text-info:hover{
  border: 1px solid #8FB;
  color: #8FB;
  text-decoration: none;
}


.info p{
  font-family: 'Baloo Bhaina', cursive;
  font-size: 30px;
}

.pillarspara{
  font-family: 'Baloo Bhaina', cursive;
  font-size: 45px;
  color: #8FB;

}

#hr, #g, #e, #ec, #c, #l, #co, #w, #a, #f{
  display: none;
}

#humanrights:hover #hr{
  display: block;
}
#humanrights:hover #hur{
  display: none;
}


#governance:hover #g{
  display: block;
}
#governance:hover #go{
  display: none;
}


#environment:hover #e{
  display: block;
}
#environment:hover #en{
  display: none;
}


#economic:hover #ec{
  display: block;
}
#economic:hover #eco{
  display:none;
}

#consumer:hover #c{
  display: block;
}
#consumer:hover #con{
  display:none;
}


#labour:hover #l{
  display: block;
}
#labour:hover #la{
  display:none;
}

a, p{
  text-decoration: none;
}

