.pp{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillarstructure{
  padding-top: 10px;
  height: 300px;
  width: 600px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Arimo', sans-serif;
}

.pillaravatar{
  background-color: white;
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: 50%;
  height: 50px;
  width:50px;
  border: 1px solid #FF8300;
  display: flex;
  justify-content: center;
  align-items: center;
}
