.services{
  min-width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('http://www.wallpapermade.com/images/wallpapers/originals/nature-path-blue-sky-wallpaper-5468.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.servicesall{
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 40px 0;
}
.services a{
  text-decoration: none;
}

.service{
  height: 300px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 110px;
  color: white;
  border: 1px solid #FF8300;
}

.servicecontent{
  padding: 20px 20px 20px 20px;
  height: 300px;
  width: 500px;
  border: 1px solid #FF8300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  color: #FF8300;
}
.servicecontent p{
  font-family: 'Arimo', sans-serif;
}


#community:hover #co{
  display: block;
}
#community:hover #com{
  display:none;
}

#workshop:hover #w{
  display: block;
}
#workshop:hover #wo{
  display: none;
}

#alacarte:hover #a{
  display: block;
}
#alacarte:hover #al{
  display: none;
}

#formation:hover #f{
  display:block;
}
#formation:hover #fo{
  display:none;
}
