<div class="header navbar-fixed-top">
  <%= link_to "LN2LINK", root_path, class: "logo"%>
  <nav id="primary_nav_wrap">
  <ul>
    <li class="current-menu-item"><a href="home">Home</a></li>
    <li><a style="color: #FF8300;" href="#">Discover</a>
      <ul>
        <li><a href="services">Workshop</a></li>
        <li><a href="services">A la carte</a></li>
        <li><a href="services">Formation</a>
      </ul>
    </li>
  </ul>
  </nav>
</div>

