<div class="fixed-social-links ">

  <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".bs-example-modal-sm">
  <p>C</p>
  <p>O</p>
  <p>N</p>
  <p>T</p>
  <P>A</P>
  <p>C</p>
  <p>T</p>
  </button>

</div>

<div class="modal bs-example-modal-sm" id="contact">
    <div class="modal-content">

    Hélène Tauzin

    </div>
</div>



