<div class="container-home">
  <div class="pillars">
    <div class="pillars1">
      <div class="pillar" id="humanrights">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="pillar" id="governance">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </div>
      <div class="pillar" id="environment">
        <i class="fa fa-leaf" aria-hidden="true"></i>
      </div>
    </div>
    <div class="info">
      <div class="text-info">
        <p id="hr">Human Rights</p>
        <p id="g">Governance</p>
        <p id="e">Environment</p>
        <p id="ec">Economic & Business</p>
        <p id="c">Consumer issues</p>
        <p id="l">Labour</p>
        <p id="co">Community development</p>
      </div>
    </div>
    <div class="pillars2">
      <div class="pillar" id="economic">
        <i class="fa fa-money" aria-hidden="true"></i>
      </div>
      <div class="pillar" id="consumer">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
      <div class="pillar" id="labour">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </div>
      <div class="pillar" id="community">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="pillar">

    </div>
    <div class="pillar">

    </div>

  </div>
</div>
