<div class="container-home">
  <div class="pillars">
    <div class="pillars1">
      <div class="pillar hr">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="pillar l">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </div>
      <div class="pillar">

      </div>
      <div class="pillar">

      </div>
    </div>
    <div class="pillar">

    </div>
    <div class="pillar">

    </div>
    <div class="pillar">

    </div>
  </div>
  <div class="services">
  </div>
</div>
