<div class="container-home">
  <div class="services">
    <div class="servicesall">
      <a href="workshop">
        <div id="workshop" class="pillar">
          <i id="wo" class="fa fa-pencil" aria-hidden="true"></i>
          <p class="pillarspara" id="w">Workshop</p>
        </div>
      </a>
      <a href="alacarte">
        <div id="alacarte" class="pillar">
          <i id="al" class="fa fa-map" aria-hidden="true"></i>
          <p class="pillarspara" id="a">A la carte</p>
        </div>
      </a>
      <a href="formation">
        <div id="formation" class="pillar">
          <i id="fo" class="fa fa-superpowers" aria-hidden="true"></i>
          <p class="pillarspara" id="f">Formation</p>
        </div>
      </a>
    </div>
    <div class="info">
      <div class="text-info">
        <p>Services</p>
      </div>
    </div>
  </div>


  <div class="pillars">
    <div class="pillars1">
      <a href="pillars">
          <div class="pillar" id="humanrights">
              <i id="hur" class="fa fa-users" aria-hidden="true"></i>
              <p class="pillarspara" id="hr">Human Rights</p>
          </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="governance">
          <i id="go" class="fa fa-globe" aria-hidden="true"></i>
          <p class="pillarspara" id="g">Governance</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="environment">
          <i id="en" class="fa fa-leaf" aria-hidden="true"></i>
          <p class="pillarspara" id="e">Environment</p>
        </div>
      </a>
    </div>
    <div class="info">
      <div class="text-info">
        <p>7 Pillars of CSR</p>
      </div>
    </div>
    <div class="pillars2">
      <a href="pillars">
        <div class="pillar" id="economic">
          <i id="eco" class="fa fa-money" aria-hidden="true"></i>
          <p class="pillarspara" id="ec">Economic</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="consumer">
          <i id="con" class="fa fa-shopping-cart" aria-hidden="true"></i>
          <p class="pillarspara" id="c">Consumer</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="labour">
          <i id="la" class="fa fa-cogs" aria-hidden="true"></i>
          <p class="pillarspara" id="l">Labour</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="community">
          <i id="com" class="fa fa-line-chart" aria-hidden="true"></i>
          <p class="pillarspara" id="co">Community</p>
        </div>
      </a>
    </div>
  </div>
</div>
