<div class="container-home">
  <div class="tauzin">
    <div class="tauzin1">
      <div class="tauzvatar">

      </div>
    </div>
    <div class="tauzin2">
      <div class="t2">
        <h1>"Discover Corporate Social Responsibility. My name is Hélène Tauzin and as a Lucie labeled consultant, I will guide you and your company through the CSR journey."</h1>
      </div>
    </div>
    <div class="info">
      <a href="services">
        <div class="text-info">
          <p>Get started!</p>
        </div>
      </a>
    </div>
  </div>




  <div class="pillars">
    <div class="pillars1">
      <a href="pillars">
          <div class="pillar" id="humanrights">
              <i id="hur" class="fa fa-users" aria-hidden="true"></i>
              <p class="pillarspara" id="hr">Human Rights</p>
          </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="governance">
          <i id="go" class="fa fa-globe" aria-hidden="true"></i>
          <p class="pillarspara" id="g">Governance</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="environment">
          <i id="en" class="fa fa-leaf" aria-hidden="true"></i>
          <p class="pillarspara" id="e">Environment</p>
        </div>
      </a>
    </div>
    <div class="info">
      <div class="text-info">
        <p>7 Pillars of CSR</p>
      </div>
    </div>
    <div class="pillars2">
      <a href="pillars">
        <div class="pillar" id="economic">
          <i id="eco" class="fa fa-money" aria-hidden="true"></i>
          <p class="pillarspara" id="ec">Economic</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="consumer">
          <i id="con" class="fa fa-shopping-cart" aria-hidden="true"></i>
          <p class="pillarspara" id="c">Consumer</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="labour">
          <i id="la" class="fa fa-cogs" aria-hidden="true"></i>
          <p class="pillarspara" id="l">Labour</p>
        </div>
      </a>
      <a href="pillars">
        <div class="pillar" id="community">
          <i id="com" class="fa fa-line-chart" aria-hidden="true"></i>
          <p class="pillarspara" id="co">Community</p>
        </div>
      </a>
    </div>
  </div>
</div>
