<div class="container-home1">
  <div class="pp">
    <div class="pillartitle">
      <h1>Definition of the 7 Pillars of CSR</h1>
    </div>
  </div>
  <div class="pp">
    <div class="pillarstructure">
      <div class="pillaravatar">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="phumanrights">
        <p>- Protection and respect <br>
        - Political involvement <br>
        - Policy <br>
        - Due diligence <br>
        - Remedy <br>
        - Human rights risk situation <br>
        - Resolving grievances <br>
        - Discrimination of vulnerable groups <br>
        - Fundamentals rights at work</p>
      </div>
    </div>
    <div class="pillarstructure">
      <div class="pillaravatar">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </div>
      <div class="pgovernance">
        <p>- The Audit, Risk and Sustainable Development Committee <br>
        - This Committee oversees and guides the CSR strategy <br>
        - The CSR strategic steering committee ("CSR CSR"), set up in 2015, meets twice a year with 13 external experts representing the stakeholders of Icade (elected representatives, urban planners, sociologists, environmental specialists, economists, etc.) , The Chairman of the Board of Directors and the Executive Committee <br>
        - The executive committee, of which three members carry the CSR strategy of Icade</p>
      </div>
    </div>
  </div>
  <div class="pp">
    <div class="pillarstructure">
      <div class="pillaravatar">
          <i id="en" class="fa fa-leaf" aria-hidden="true"></i>
      </div>
      <div class="penvironment">
        <p>- Precautionary approach <br>
        - Environmental behaviour <br>
        - Environmentaly sound technologies <br>
        - Environmental management system <br>
        - Education and training of employees <br>
        - Contingency plans <br>
        - Prevention of pollution <br>
        - Sustainable resource use <br>
        - Climate change mitigation <br>
        - Protection and restoration of natural habits</p>
      </div>
    </div>
    <div class="pillarstructure">
      <div class="pillaravatar">
        <i id="eco" class="fa fa-money" aria-hidden="true"></i>
      </div>
      <div class="peceonomic">
        <p>- Fair operating practices <br>
        - Anti-corruption <br>
        - Responsible political involvement <br>
        - Organisation governance <br>
        - Fair competition <br>
        - Transparency <br>
        - Respect of property rights <br>
        - Promoting social responsibility in the value chain</p>
      </div>
    </div>
  </div>
  <div class="pp">
    <div class="pillarstructure">
      <div class="pillaravatar">
        <i id="con" class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
      <div class="pconsumer">
        <p>- Consumer issues <br>
        - Fair marketing <br>
        - Consumer's health and safety <br>
        - Customer support, complaints and dispute resolution <br>
        - Consumer data protection and privacy <br>
        - Access to essential services <br>
        - Sustainable consumption <br>
        - Education and awareness</p>
      </div>
    </div>
    <div class="pillarstructure">
      <div class="pillaravatar">
        <i id="la" class="fa fa-cogs" aria-hidden="true"></i>
      </div>
      <div class="plabour">
        <p>- Employment relationships <br>
        - Worker's rights, including the right to join trade unions<br>
        - Allow workers to collective bargaining <br>
        - Working conditions and social protection <br>
        - Forced labour <br>
        - Child labour <br>
        - Discrimination in employment and occupation <br>
        - Cap on weekly working hours <br>
        - Health and safety at work <br>
        - Development opportunities at work <br>
        - Local job creation and skills development <br>
        - Social dialogue</p>
      </div>
    </div>
  </div>
  <div class="pp">
    <div class="pillarstructure">
      <div class="pillaravatar">
        <i id="com" class="fa fa-line-chart" aria-hidden="true"></i>
      </div>
      <div class="pcommunity">
        <p>- Community development <br>
        - Education and culture <br>
        - Employment creation and skills development <br>
        - Technology development and access <br>
        - Wealth and income creation <br>
        - Health <br>
        - Investments in communities </p>
      </div>
    </div>
  </div>
</div>
