<div class="container-home">
  <div class="services">
    <div class="servicesall">
      <div id="workshop" class="pillar">
        <i id="wo" class="fa fa-pencil" aria-hidden="true"></i>
        <p class="pillarspara" id="w">Workshop</p>
      </div>
      <div class="servicecontent">
        <p>- Intégrer sa politique RSE : Evoluer, développer, Valoriser <br>
        - Lien et enjeux Responsabilité sociétale et organisation, communication, crédibilité, amélioration, initiatives <br>
        - Identification des enjeux et des parties prenantes <br>
        - Autodiagnostic Label Lucie</p>
      </div>
    </div>
    <div class="servicesall">
      <div id="alacarte" class="pillar">
        <i id="al" class="fa fa-map" aria-hidden="true"></i>
        <p class="pillarspara" id="a">A la carte</p>
      </div>
      <div class="servicecontent">
        <p>- Diagnostic personnalisé de votre politique RSE et mise en place appropriée de votre ploitique RSE selon votre champs d’activité/stratégie <br>
        - Intégration de votre strategie business developement dans la statégie RSE <br>
        - Calcul d’un retour sur investissement </p>
      </div>
    </div>
    <div class="servicesall">
      <div id="formation" class="pillar">
        <i id="fo" class="fa fa-superpowers" aria-hidden="true"></i>
        <p class="pillarspara" id="f">Formation</p>
      </div>
      <div class="servicecontent">
        <p>- Licences et masters formation Innovation, RSE, entreprenariat</p>
      </div>
    </div>
  </div>
</div>
