<div class="container-home">
  <div class="services">
    <div class="servicesall">
      <div id="workshop" class="pillar">
        <i id="wo" class="fa fa-pencil" aria-hidden="true"></i>
        <p class="pillarspara" id="w">Workshop</p>
      </div>
      <div class="servicecontent" id="maow">
        <h1 class="animal" id="maoww">Intense follow-up (1/2 days or full days)</h1>
        <p id=maowww>- Integrating your CSR policy: Evolving, developing, Valuing <br>
        - Link and issues Social responsibility and organization, communication, credibility, improvement, initiatives <br>
        - Identification of issues and stakeholders <br>
        - Autodiagnostic Label Lucie</p>
      </div>
    </div>
    <div class="servicesall">
      <div id="alacarte" class="pillar">
        <i id="al" class="fa fa-map" aria-hidden="true"></i>
        <p class="pillarspara" id="a">A la carte</p>
      </div>
      <div class="servicecontent" id="wouf">
        <h1 class="animal" id="wouff">More targeted follow-up (hourly service)</h1>
        <p id="woufff">- Personalized diagnosis of your CSR policy and appropriate implementation of your CSR policy according to your field of activity / strategy <br>
        - Integration of your business development strategy into the CSR strategy <br>
        - Calculation of Return on Investment </p>
      </div>
    </div>
    <div class="servicesall">
      <div id="formation" class="pillar">
        <i id="fo" class="fa fa-superpowers" aria-hidden="true"></i>
        <p class="pillarspara" id="f">Formation</p>
      </div>
      <div class="servicecontent" id="meuh">
        <h1 class="animal" id="meuhh"> To become your own consultant!</h1>
        <p id="meuhhh">- Licenses and Masters training Innovation, CSR, Entrepreneurship <br>
        - Self esteem</p>
      </div>
    </div>
  </div>
</div>
